@import 'helpers/mixins';
@import 'helpers/variables';
@import 'layout/header';



$direction:ltr;
$right:left;
$left:right;


body {
  direction: $direction;
  text-align: $right;
  text-transform: capitalize;
}