.contant-inner {
  width: $fullwidth;
  padding: $minmargin;
  padding-top: 140px;
  @include transition(all 0.5s ease-in-out 0s);

  &.mar-padd {
    padding-top: 80px;

    // @media (max-width:991px) {
    //   padding-top: 80px;
    // }
  }

  .title {
    @include title;
  }

  .new_wizard {
    display: flex;

    .click_icon {
      width: 35px;
      height: 35px;
      @include border-radius(50%);
      background: $yellow;
      margin-left: $minmargin;
      @include flex;
      color: $white;
      justify-content: $center;
      cursor: pointer;
      position: relative;
      z-index: 1;

      @media (max-width:1199px) {
        display: $none;
      }
    }

    .navlist {
      height: 35px;
      background: $white;
      padding: 3px $minmargin;
      margin-left: -15px;
      border-bottom: 1px solid $border;
      @include border-radius(0px 20px 20px 0px);
      display: $none;
      @include transition(all 0.5s ease-in-out 0s);

      @media (max-width:1199px) {
        display: $none;
      }

      a {
        padding: $zero $minmargin;
        @include transition(all 0.5s ease-in-out 0s);
        font-weight: 600;

        &:hover {
          color: $ofblue;
        }

        &.close_wizard {
          color: $red;
        }
      }
    }
  }

  .show_situation {
    background-color: #d4dfe3;
    padding: $minmargin $zero;
    margin-top: $minmargin;


    .support_dropdown-head {
      @include dropdown;
      background: #f0f4f5;
      width: 250px;
      margin: $zero;
      @include border-radius(5px);

      @media (max-width:991px) {
        margin: $zero;
      }

      .name-user {
        @include flex;
        position: relative;
        cursor: pointer;

        .situation,
        p {
          padding: 7px $minmargin;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 50%;
          @include transition(all 0.5s ease-in-out 0s);
        }

        p {
          background: $white;
          @include border-radius(0px 5px 5px 0px);

          @media (max-width:991px) {
            display: $block;

            i.icon-mar {
              display: $block;
              margin: $zero;
              padding: $zero;
              background: $none;
              width: $auto;
              float: $right;
              margin-top: 9px;
              height: $auto;
            }
          }
        }
      }

      .support_dropdown-content {
        width: $fullwidth;
      }

    }

    .item-box {
      margin-top: 45px;

      @media (max-width:767px) {
        max-width: 50%;
        flex: 50%;
      }

      @media (max-width:450px) {
        max-width: $fullwidth;
        flex: $fullwidth;
      }

      .bk {
        @include section;
        background: $white;
        padding: $maxmargin $minmargin;
        text-align: $center;
        @include prefixer (box-shadow, 0 0 9px 2px rgba(34, 36, 38, .1), webkit moz o ms);


        .icon-sales {
          @include position(absolute, $top: -30px, $left: 35px);
          width: 65px;
          height: 65px;
          border: 5px solid $white;
          @include flex;
          justify-content: $center;
          @include border-radius(100%);

          img {
            width: 35px;
          }
        }

        .label {
          font-weight: 600;
        }

        .value {
          font-size: 25px;
          margin-top: 5px;
          font-weight: 600;
          color: $blak;
        }
      }

      &:nth-last-child(1) {
        .bk {
          .icon-sales {
            background: $green;
          }
        }
      }

      &:nth-last-child(2) {
        .bk {
          .icon-sales {
            background: $spectral;
          }
        }
      }

      &:nth-last-child(3) {
        .bk {
          .icon-sales {
            background: $teal;
          }
        }
      }

      &:nth-last-child(4) {
        .bk {
          .icon-sales {
            background: $yellow;
          }
        }
      }
    }
  }

  .wit-rspon {
    @media (max-width:767px) {
      max-width: $fullwidth;
      flex: $fullwidth;
    }
  }

  .bottom {
    @include bottom;
  }

  .bot-st {
    background: $none;
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      border: 1px solid $ofblue;
    }
  }

  .segment {
    margin-top: $minmargin;
    @include section;

    .head {
      @include flex;
      justify-content: space-between;
      margin-bottom: $minmargin;

      &:last-child {
        margin-bottom: $zero;
      }

      @media (max-width:767px) {
        .hide {
          display: $none;
        }
      }

      .bot-icon {
        .bottom {
          width: 35px;
          height: 35px;
          padding: $zero;
          text-align: $center;
          @include border-radius(50%);
          @include prefixer (box-shadow, 0px 0px 4px #d4d4d4, webkit moz o ms);

          i {
            margin: $zero;
          }

          &.blue {
            background: $ofblue;
          }

          &.red {
            background: $red;
          }

          &.green {
            background: $green;
          }
        }
      }
    }

    .title {
      font-size: 23px;

      span {
        font-size: 15px;
        color: $ofblue;
      }

      &.blue {
        color: $ofblue;
        margin-bottom: 10px;
      }

      &.red {
        color: $red;
        margin-bottom: 10px;
      }
    }

    .filter {
      .title {
        font-size: 22px;
        margin: $zero;

        i {
          font-size: 17px;
        }
      }

      .clickbot {
        height: 58px;

        .a-minus {
          &:after {
            content: "\f054" !important;
            @include rotate(90deg);
            top: $minmargin;

          }

          &.rotate:after {
            @include rotate(0deg);

          }
        }
      }



      .disbox {
        display: $none;
      }

      .bot {
        display: flex;
        justify-content: flex-end;

        .bottom {
          &.clear {
            background: $ofwhite;
            color: $blue;
            margin-right: 5px;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }

    .btnright {
      a {
        color: $ofblue;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .logoimg {
      width: $fullwidth;
      margin-bottom: $minmargin;

      img {
        max-width: 150px;
      }
    }


    .table {
      margin: $zero;

      tr:nth-of-type(odd) {
        background: $ofwhite;
      }

      td,
      th {
        vertical-align: middle;
        border: $zero;
        white-space: nowrap;
        text-overflow: ellipsis;

        // @media (max-width:550px) {
        //   display: $inline;
        // }
      }

      th {
        font-weight: bold;
        font-size: 15px;

        a {
          font-weight: bold;
          font-size: 15px;

          i {
            font-size: 12px;
          }
        }
      }

      .customchick.normal {
        font-weight: normal;
        margin: $zero;

        .che-box {
          padding: $zero;

          input[type="checkbox"]+.label-text:before,
          input[type="radio"]+.label-text:before {
            position: relative;
            top: $zero;
          }
        }
      }

      strong {
        display: $block;
        color: $blak;
        font-weight: 700;
      }

      .green {
        color: $green;
      }

      a.green {
        &:hover {
          text-decoration: underline;
        }
      }

      .mer {
        margin-left: 5px;
      }

      .bottom {
        @include bottom;
        height: 30px;
        width: 30px;
        @include border-radius(3px);
        padding: $zero;
        background: #9eafb5;

        i {
          font-size: 13px;
          margin-right: $zero;
        }

        &.black {
          background: $blak;
        }

        &.green {
          background: $green;
        }

        &.red {
          background: $red;
        }
      }

      .name-so {
        @include transition(all 0.5s ease-in-out 0s);

        &:hover {
          color: $ofblue;
        }
      }

      .blue {
        color: $ofblue;
      }

      .orange {
        background: $orange;
      }

      .yellow {
        color: $yellow;
      }

      .red-text {
        color: $red;
      }

      a.blue:hover {
        text-decoration: underline;
      }

      .up-alt {
        font-size: 18px;
        margin: $zero 3px;
        @include transition(all 0.5s ease-in-out 0s);

        &:hover {
          color: $ofblue;
        }
      }

      .secret {
        padding: 2px $minmargin;
        background: $green;
        color: $white;
        font-weight: 600;
        outline: $zero;
        outline-style: $none;
        border: $zero;
        @include border-radius(60px);

        i {
          font-size: 13px;
          margin-right: 5px;

          @media (max-width:550px) {
            display: $none;
          }
        }

        &.disabled,
        &.accept {
          background: #b5b5b5;
        }

        &.accept,
        &.yellow {
          cursor: pointer;
          width: $auto;
        }

        &.yellow,
        &.yel {
          background: $yellow;
        }

        &.blu {
          background: $ofblue;
        }

        &.super {
          background: #b2edfc;
          color: $blak;
        }

        &.proc {
          background: #b2ddec;
          color: $blak;
        }

        &.ready {
          background: #b2e5ca;
          color: $blak;
        }

        &.supred {
          background: #ffeacc;
          color: $blak;
        }

        &.supdel {
          background: #e3e1ee;
          color: $blak;
        }

        &.supretu {
          background: #fac3bf;
          color: $blak;
        }
      }

      .flag {
        width: 16px;
        height: 11px;
        margin-right: 5px;
      }

      .boxsearch {
        position: relative;
        display: inline-flex;
        width: 220px;
        padding-left: $minmargin;
        overflow: hidden;

        .form-control {
          width: $fullwidth;
          height: 35px;
          border: $zero;
          box-shadow: $none;
          @include border-radius(60px);
          background: $white;
          outline: $none;
          text-transform: $none;
          padding: 5px 35px 5px $minmargin;
        }

        .btn {
          @include position(absolute, $top:11px, $right: 13px);
          color: $blue;
          padding: $zero;
          background: $none;
          border: $zero;
          @include transition(all 0.5s ease-in-out 0s);

          &:hover {
            color: $ofblue;
          }
        }

      }

      span.label-text {
        font-weight: normal !important;
      }

      .support_dropdown-head {
        position: relative;
        display: $inline;
        margin-right: $minmargin;

        .name-user {
          @include flex;
          position: relative;
          cursor: pointer;

          p {
            color: $ofblue;
            @include transition(all 0.5s ease-in-out 0s);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          i {
            font-size: 12px;
            @include transition(all 0.5s ease-in-out 0s);
          }
        }

        .support_dropdown-content {
          @include position(absolute, $top:10px, $right:0px);
          width: 150px;
          @include prefixer (box-shadow, 0 1px 5px rgba(4, 6, 8, 0.21), webkit moz o ms);
          background-color: $white;
          @include border-radius(5px);
          z-index: 22;
          height: $zero;
          overflow: hidden;
          @include transition(all 0.5s ease-in-out 0s);

          li {
            padding: 10px $minmargin $zero $minmargin;

            &:last-child {
              padding-bottom: 10px;
            }

            a {
              @include transition(all 0.5s ease-in-out 0s);

              &:hover {
                color: $ofblue;
              }
            }

            i {
              width: 15px;
              font-size: 14px;
              margin-right: 5px;
            }
          }
        }


        &:hover {
          .name-user {

            p,
            i {
              color: $green;
            }

          }

          .support_dropdown-content {
            top: $maxmargin;
            height: $auto;
          }
        }

      }

      .img-tab {
        max-width: 50px;
        max-height: 50px;
      }

      &.tabstyle {
        tr {
          background: $white;
          border-bottom: 1px solid $border;


          th {
            padding: $zero;
            font-size: 14px;
            font-weight: normal;
          }

          td {
            padding: 10px $zero;
            font-weight: normal;
          }
        }
      }

    }

    .rating {
      li {
        display: $inline;
        font-size: 12px;
        color: #b7b7b7;

        &.active {
          color: $yellow;
        }
      }
    }

    .nav-tabs {
      li {
        margin-right: $minmargin;

        &:last-child {
          margin-right: $zero;
        }

        .nav-link {
          font-size: 16px;
          font-weight: 600;
          @include transition(all 0.5s ease-in-out 0s);


          &.active,
          &:hover {
            color: $ofblue;
          }
        }
      }
    }

    .tab-content {
      padding: $minmargin;
      border: 1px solid $border;
      border-top: $zero;
      padding-top: $zero;
    }

    .text-dommain {
      li {
        @include flex;
        justify-content: space-between;
        padding: 10px;

        &:nth-of-type(odd) {
          background: $ofwhite;
        }

        strong {
          color: $blak;

          i {
            width: 20px;
            height: 20px;
            @include border-radius(50%);
            margin-right: 5px;
            color: $white;
            background: $green;
            text-align: $center;
            font-size: 12px;
            padding-top: 5px;
          }
        }
      }
    }

    .list-bill {
      li {
        display: $block;
      }
    }

    .features {
      background: rgb(253, 253, 253);
      margin-top: $minmargin;
      padding: $minmargin;
      padding-bottom: $zero;
      position: relative;
      @include border-radius(5px);
      border: 1px solid $ofwhite;

      .customchick {
        margin: $zero;
        margin-bottom: $minmargin;
      }

      .label-text {
        font-size: 20px !important;
        color: $blak !important;

        &::before {
          font-size: 19px !important;
        }
      }

      .price {
        font-size: 18px;
        color: $ofblue;
        margin-left: 5px;
        position: relative;
        z-index: 1;
      }

      .package {
        .title {
          background: $ofwhite;
          font-size: 17px;
          padding: 10px;
          color: $blue;
          margin-bottom: 10px;
        }

        p {
          padding: $zero 10px 10px $maxmargin;
        }
      }
    }

    .ca-city {
      background: $ofwhite;
      border: $zero;
      padding: 5px $minmargin;
      margin: $zero;
      margin-bottom: 5px;
      @include border-radius(0px);

      &:last-child {
        margin: $zero;
      }

      .customchick {
        margin: $zero;
      }

      .label-text {
        font-size: 16px !important;

        &::before {
          top: 8px !important;
          font-size: 15px !important;
          color: $gray !important;
        }

        img {
          width: 16px;
          height: 11px;
          margin: -2px 2px $zero $zero;
        }
      }

      input[type="checkbox"]:checked+.label-text:before {
        color: $ofblue !important;
      }


      .disbox {
        display: $none;
        padding: 10px $minmargin 5px $minmargin;

        .customchick {
          border-bottom: 1px solid $border;
          padding-bottom: 5px;
          margin-bottom: 5px;

          &:last-child {
            padding: $zero;
            margin: $zero;
            border: $zero;
          }
        }

        &.pay-box {
          padding: $zero $zero 10px $zero;
        }
      }
    }

    .box-hide {
      display: $none;
      width: $fullwidth;
    }

    .package {
      margin-top: $minmargin;
    }

    .clickbot {
      @include position(absolute, $top:0px, $right:0px);
      cursor: pointer;
      width: $fullwidth;
      height: $fullwidth;
      display: flex;
      justify-content: flex-end;
      padding: $zero $minmargin;

      .a-minus {
        position: relative;
        width: $fullwidth;
        font-style: inherit;

        &:after {
          content: "\f068";
          @include position(absolute, $right: 0);
          @include transition(all 0.5s ease-in-out 0s);
          font-weight: 600;
          font-family: "Font Awesome 5 Free";
          color: $blak;
          z-index: 1;
        }

        &.rotate:after {
          content: "\f067";
          @include transition(all 0.5s ease-in-out 0s);
        }
      }
    }

    .revie {
      padding: $minmargin;

      .clickbot {
        top: $minmargin;

        .a-minus {
          &:after {
            content: "\f067";
          }

          &.rotate:after {
            content: "\f068";
          }
        }
      }

      .red {
        @include position(absolute, $top: 23px, $right: 43px);
        font-size: 13px;
        color: $red;
        z-index: 10;
        cursor: pointer;
        @include transition(all 0.5s ease-in-out 0s);

        &:hover {
          color: $green;
        }
      }

      .tags-box {
        border: $zero;
        padding: $zero;

        li {
          margin: $zero;
          margin-right: 5px;

        }
      }

      .disbox {
        display: $none;
      }

      &.tab-pad {
        padding: $zero;
        position: relative;

        .clickbot {
          top: $zero;
          padding: $zero;

          .a-minus {
            &:after {
              top: $minmargin;
            }
          }
        }

        .disbox {
          margin-top: $minmargin;
        }
      }
    }

    #chartdiv {
      float: left;
      width: 100%;
      height: 300px;
    }

    .form-ac {
      display: $inline;

      .bottom {
        font-size: 14px;
        line-height: 10px;
      }
    }

    .connected {
      width: $fullwidth;
      height: 350px;
      overflow: hidden;
      overflow-y: scroll;

      .row {
        padding-right: $minmargin;
      }
    }

    .up-img {
      margin-top: $minmargin;
      width: $fullwidth;
      overflow: hidden;


      .custom-file {
        width: $fullwidth;

        .custom-file-label {
          padding: $zero;

          &:after {
            @include border-radius(0px);
            cursor: pointer;
            width: $fullwidth;
            text-align: $center;
          }
        }
      }
    }


    .upload-demo {
      margin: $zero $auto;
      width: 175px;
      position: relative;

      img.portimg {
        margin: $minmargin $auto $zero $auto;
        width: 175px;
        max-height: 175px;
        padding: 5px;
        border: 2px solid $ofblue;
        position: relative;
        display: $none;
      }

      .removebtn {
        @include position(absolute, $top: 6px, $right: -10px);
        width: 25px;
        height: 25px;
        color: $white;
        background: $red;
        @include border-radius(50%);
        @include flex;
        justify-content: $center;
        font-size: 12px;
        padding-top: 2px;
        cursor: pointer;
        @include transition(all 0.5s ease-in-out 0s);

        &:hover {
          background: $green;
        }
      }
    }

    .var-text {
      padding-left: 22px;

      li {
        list-style: disc;

        span {
          color: $ofblue;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }

    .toolink {
      display: $inline;
      color: $yellow;
      cursor: pointer;
      font-size: 20px;

      &.blue {
        width: 17px;
        height: 17px;
        @include border-radius(50%);
        background: $ofblue;
        color: $white;
        font-size: 9px;
        text-align: $center;
        line-height: 20px;
      }
    }

    .areas {
      margin-top: $minmargin;

      .inner-areas {
        background: #fdfdfd;
        margin-top: $minmargin;
        padding-bottom: $minmargin;
        border: 1px solid $ofwhite;
        @include border-radius(5px);
      }

      .segment {
        @include border-radius(0px);
        box-shadow: $none;
        background: $none;
        margin: $zero;
        padding: $zero $minmargin;
        margin-top: $minmargin;

        &:nth-last-of-type(2) {
          margin: $zero;
          margin-top: -1px;
        }

        .tab-pad {
          border: 1px solid $ofwhite;
          padding: 10px;

          .title {
            font-size: 17px;
          }

          .clickbot {
            .a-minus {
              &:after {
                top: 10px;
                right: 10px;
              }
            }
          }

          .disbox {
            .field {
              margin: $zero;
            }
          }
        }
      }
    }

    .card-order {
      padding: $minmargin;

      @media (max-width:991px) {
        max-width: $fullwidth;
        flex: $fullwidth;
      }

      &.det-card {
        background: $border;
        border-left: 1px dashed #d6d6d6;

        .title {
          color: $ofblue;
          font-size: 20px;
        }

        @media (max-width:991px) {
          border: $zero;
          border-top: 1px dashed #d6d6d6;
        }

        .rowcard {
          border-bottom: 1px dashed #d6d6d6;

          .ship-item {
            margin-top: $minmargin;

            span {
              display: $block;
              width: $fullwidth;
              font-size: 12px;
              color: $bc-gary;
              line-height: 20px;

              &.bold {
                font-weight: 600;
                font-size: 14px;
                color: $blak;
              }
            }
          }
        }

        .field {
          @media (max-width:991px) {
            max-width: $fullwidth;
            flex: $fullwidth;
          }

          .form-control {
            background: $none;
            margin-top: 10px;
            border: 1px solid #d6d6d6;
          }
        }
      }

      .rowcard {
        border-bottom: 1px solid $border;
        padding-bottom: $minmargin;
        margin-bottom: $minmargin;

        &:last-child {
          margin-bottom: $zero;
          border: $zero;
          padding-bottom: $zero;
        }

        @media (max-width:667px) {
          padding-bottom: $zero;
        }

        .action {
          @include flex;
          margin-bottom: 5px;

          @media (max-width:667px) {
            @include position(absolute, $top: 0px, $right: 15px);
          }

          .bottom {
            padding: $zero;
            width: 20px;
            height: 20px;
            margin-left: 2px;
            @include border-radius(50%);

            &.green {
              background: $green;
            }

            &.red {
              background: $red;
            }

            i {
              font-size: 10px;
              margin: $zero;
            }
          }
        }

      }

      .details {
        display: flex;
        align-items: $center;

        @media (max-width:667px) {
          max-width: $fullwidth;
          flex: $fullwidth;
          margin-bottom: $minmargin;
        }


        img {
          width: 70px;
          height: 70px;
          @include border-radius(50%);
        }

        .contant-card {
          padding-left: $minmargin;

          .title {
            font-size: 18px;
          }

          .shape {
            display: flex;
            margin-top: 5px;

            li {
              @include flex;
              height: 16px;
              line-height: 16px;
              margin-right: $minmargin;
              padding-right: $minmargin;
              border-right: 1px solid $border;

              &:last-child {
                padding: $zero;
                margin: $zero;
                border: $zero;
              }

              .circle {
                display: $inline;
                width: 15px;
                height: 15px;
                margin-left: 5px;
                @include border-radius(50%);

                &.red {
                  background: $red;
                }
              }
            }
          }
        }

        &.disflex {
          justify-content: space-between;

          .price {
            &.bold {
              font-weight: bold;
            }
          }
        }

        &.add-card {
          display: $block;

          span {
            line-height: 20px;

            &.bold {
              font-weight: bold;
              font-style: italic;
            }
          }
        }
      }

      .field {
        margin: $zero;

        label {
          color: $ofblue;
        }

        @media (max-width:991px) {
          max-width: 50%;
          flex: 50%;
        }

        @media (max-width:450px) {
          max-width: $fullwidth;
          flex: $fullwidth;
          margin-bottom: $minmargin;

          &:last-child {
            margin-bottom: $zero;
          }
        }

      }

      .payment.customchick {
        @include check-box;
        border-top: 1px solid $border;
        padding-top: $minmargin;

        .title {
          color: $ofblue;
          font-size: 20px;
          margin-bottom: $minmargin;
        }

        &.no-bord {
          padding: $zero;
          border: $zero;
          margin: $zero;
        }
      }

      .co-ord {
        font-size: 20px;
        color: $ofblue;
      }
    }

    .orderform {
      border-right: 1px solid $border;
      padding-top: $minmargin;

      @media (max-width:991px) {
        max-width: $fullwidth;
        flex: $fullwidth;
        border: $zero;
      }

      .info {
        margin-bottom: $maxmargin;

        @media (max-width:991px) {
          &:last-child {
            margin-bottom: $minmargin;
          }
        }

        .title {
          font-size: 18px;
          font-weight: normal;
        }
      }

      .field {
        .btn {
          @include position(absolute, $top:19px, $right: 30px);
          color: $blue;
          padding: $zero;
          background: $none;
          border: $zero;
          outline-style: $none;
          outline: $zero;
          @include transition(all 0.5s ease-in-out 0s);

          &:hover {
            color: $ofblue;
          }
        }

        &.w-it {
          @media (max-width:991px) {
            max-width: 33.33%;
            flex: 33.33%;
          }
        }

        i {
          top: 15px;
        }
      }

      .pad-fil {
        padding: $zero $minmargin;
      }




    }

    .show-item {
      width: $fullwidth;
      background: $border;
      @include border-radius(5px);
      border: 1px dashed #d6d6d6;
      margin-top: $minmargin;
      padding: $minmargin;

      .details {

        display: flex;
        align-items: $center;

        @media (max-width:667px) {
          max-width: $fullwidth;
          flex: $fullwidth;
          margin-bottom: $minmargin;
        }


        img {
          width: 50px;
          height: 50px;
          @include border-radius(50%);
        }

        .title {
          font-size: 18px;
          padding-left: $minmargin;
        }
      }

      .data-item {
        margin-top: $minmargin;

        li {
          @include flex;
          justify-content: space-between;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: $zero;
          }

          .title {
            font-size: 16px;
          }

          .size-it {
            @include flex;

            span {
              background: $white;
              border: 1px solid #d6d6d6;
              padding: $zero 10px;
              text-align: $center;
              margin-left: 3px;

              &:first-child {
                margin-left: $zero;
              }
            }
          }

          .color-it {
            @include flex;

            span {
              width: 15px;
              height: 15px;
              @include border-radius(50%);
              margin-left: 5px;

              &:first-child {
                margin-left: $zero;
              }

              &.red {
                background: $red;
              }

              &.yellow {
                background: $yellow;
              }

              &.green {
                background: $green;
              }

              &.blue {
                background: $ofblue;
              }

              &.blak {
                background: $blak;
              }


            }
          }

          .input-group {
            width: 115px;

            .form-control {
              text-align: $center;
              @include border-radius(0px);
              border: 1px solid #d6d6d6;
              box-shadow: $none !important;
            }

            .btn-number {
              height: 34px;
              width: 30px;
              border: $zero;
              background: #d6d6d6;
              font-size: 10px;
              cursor: pointer;
              @include transition(all 0.5s ease-in-out 0s);

              &:hover {
                background: $ofblue;
                color: $white;
              }
            }
          }

          .sty-font {
            font-style: italic;
            font-weight: 600;
          }
        }
      }

      .total-price {
        @include flex;
        justify-content: space-between;
        border-bottom: 1px dashed #d6d6d6;
        border-top: 1px dashed #d6d6d6;
        padding: $minmargin $zero;
        margin-top: $minmargin;

        .title,
        .price {
          font-size: 18px;
          font-weight: 600;
        }

        .price {
          color: $ofblue;
        }
      }

      .field {
        @include flex;
        justify-content: flex-end;

        .clear {
          background: $ofwhite;
          color: $blue;
          margin-right: 5px;

          &:hover {
            color: $white;
          }
        }
      }
    }

    .de-item {
      margin-top: $minmargin;

      @media (max-width:991px) {
        max-width: $fullwidth;
        flex: $fullwidth;
      }

      .show-item {
        padding: $zero;
        margin: $zero;
        border: $zero;
        background: $none;

        .data-item {
          margin: $zero;

          li {
            margin: $zero;
            margin-bottom: 2px;

            .title {
              font-size: 14px;
              color: $bc-gary;
              font-weight: normal;
            }
          }
        }

        .total-price {
          border-top: 1px solid $border;
          border-bottom: $zero;
          padding-bottom: $zero;

          .price {
            color: $blak;
          }
        }
      }

      .field {
        margin: $zero;
        margin-bottom: $minmargin;

        @media (max-width:991px) {
          max-width: $fullwidth;
          flex: $fullwidth;
        }

        &:last-child {
          margin: $zero;
        }

        i {
          top: 39px;
          right: $zero;
        }

        .form-control {
          border: $zero;
          height: 35px;
          @include border-radius(0);
          border-bottom: 1px solid $border;
          padding: $zero 30px $zero 25px;

          &:focus {
            box-shadow: $none;
          }
        }

        span {
          @include position(absolute, $top: 7px, $left: 0px);
          @include border-radius(50%);
          background: $ofblue;
          color: $white;
          @include flex;
          width: 20px;
          height: 20px;
          justify-content: $center;
          font-size: 10px;
        }

        .apply {
          @include position(absolute, $top: 2px, $right: 0px);
          color: $ofblue;
          border: $zero;
          background: $none;
          outline: $zero;
          padding: $zero;
          outline-style: $none;
          cursor: pointer;
          font-weight: bold;
          @include transition(all 0.5s ease-in-out 0s);

          &:hover {
            color: $blue;
          }
        }

        &.time {
          label {
            color: $colortext;
          }

          .form-control {
            padding: $zero;
          }
        }
      }

    }

    .bo-head {
      border-bottom: 1px solid $border;
      padding-bottom: $minmargin;
      margin-bottom: $zero;

      span {
        border-left: 1px solid $border;
        padding-left: $minmargin;
        margin-left: $minmargin;
        color: $blak;
      }
    }

    .finelbox {
      border-left: 1px solid $border;

      .details {
        @extend .details;

        img {
          width: 100px;
          height: 100px;
          @include prefixer (box-shadow, 0 1px 5px rgba(4, 6, 8, 0.21), webkit moz o ms);
        }

        .contant-card {
          line-height: 20px;

          span {
            color: $bc-gary;
          }

          .bottom {
            background: $ofwhite;
            color: $colortext;
            padding: 1px $minmargin;
            margin-top: 5px;
            font-size: 14px;

            &:hover {
              color: $white;
            }
          }
        }
      }

      .tabs-ord {
        margin-top: $minmargin;

        .tab-content {
          border: $zero;
          padding: $zero;

          .field {
            margin-top: $minmargin;

            @media (max-width: 991px) {
              max-width: $fullwidth;
              flex: $fullwidth;
            }

            @media (max-width: 450px) {
              margin-bottom: $zero;
            }

            i {
              top: $minmargin;
              right: 25px;
            }

            &.ar-orde {
              i {
                top: 43px;
              }
            }
          }

          .w-item {
            @media (max-width: 991px) {
              max-width: 33.333%;
              flex: 33.333%;
            }
          }
        }

        .nav-tabs {
          border-bottom: 2px solid $border;

          li {
            margin: $zero;
            width: 50%;
            margin-bottom: -2px;
            text-align: $center;

            .nav-link {
              border: $zero;
              padding: .5rem $zero !important;
              border-bottom: 2px solid transparent;
            }

            .nav-link.active,
            .nav-link:hover {
              border: $zero;
              border-bottom: 2px solid $ofblue;
            }
          }
        }
      }
    }
  }



  .optionBox,
  .optionBox2,
  .optionBox3,
  .optionBox4,
  .optionBox5,
  .optionBox6,
  .optionBox7,
  .optionBox8,
  .optionBox9 {
    width: $fullwidth;

    .block,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7,
    .block8,
    .block9 {
      position: relative;

      @media (max-width:991px) {
        max-width: 50%;
        flex: 50%;
      }

      @media (max-width:550px) {
        max-width: $fullwidth;
        flex: $fullwidth;
      }


      .field {
        width: $fullwidth;

        &:first-child {
          margin-top: $zero;
        }
      }

      .remove,
      .remove2,
      .remove3,
      .remove4,
      .remove5,
      .remove6,
      .remove7,
      .remove8,
      .remove9 {
        @include position(absolute, $top: 5px, $right: 5px);
        width: 25px;
        height: 25px;
        color: $white;
        background: $red;
        @include border-radius(50%);
        @include flex;
        justify-content: $center;
        font-size: 12px;
        cursor: pointer;
        @include transition(all 0.5s ease-in-out 0s);

        &:hover {
          background: $green;
        }
      }
    }

    .block4 {
      margin-top: $minmargin;
      width: $fullwidth;

      .field {
        padding-right: 50px;

        i {
          right: 65px;
          top: $minmargin;
        }
      }

      .remove4 {
        @include border-radius(0px 4px 4px 0px);
        right: $minmargin;
        top: $zero;
        width: 51px;
        height: 50px;
      }

      &:last-child {}
    }

    .block5,
    .block6 {
      padding-right: 40px;

      .field,
      .field:first-child {
        margin-top: $minmargin;
      }

      .remove5 {
        top: $auto;
        bottom: 14px;
        right: $minmargin;
      }
    }
  }


  .imgcent {
    margin: $minmargin $auto $zero $auto;
    @include flex;
    justify-content: $center;
    width: 175px;
    height: 175px;
    border: 2px solid $ofblue;
    position: relative;

    .img_prev,
    .img_prev2,
    .img_prev3,
    .img_prev4 {
      max-width: $fullwidth;
      max-height: $fullwidth;
      background: $white;
      padding: 5px;
      position: relative;
      z-index: 2;
    }

    .file-bro,
    .file-bro2 {
      @include position(absolute, $bottom: 0, $left: 0);
      width: $fullwidth;
      background: $ofwhite;
      padding: 5px;
      color: $blak;
      font-weight: 600;
      @include flex;
      justify-content: $center;
      cursor: pointer;
      @include transition(all 0.5s ease-in-out 0s);
      z-index: 3;
      margin: $zero;

      &:hover {
        background: $ofblue;
        color: $white;
      }
    }
  }

  .img-med {
    margin-top: $minmargin;
    text-align: $center;

    @media (max-width:1199px) {
      max-width: 50%;
      flex: 50%;
    }

    @media (max-width:400px) {
      max-width: $fullwidth;
      flex: $fullwidth;
    }

    .wrap-custom-file {
      width: $fullwidth;
      min-height: 38px;
      background: $ofwhite;
      position: relative;
      overflow: hidden;
      @include flex;
      justify-content: $center;

      img {
        width: $fullwidth;
      }

      input[type="file"] {
        @include position(absolute, $top: 0, $left: 0);
        width: 2px;
        height: 2px;
        overflow: hidden;
        opacity: 0;
      }

      label {
        z-index: 1;
        width: $fullwidth;
        overflow: hidden;
        cursor: pointer;
        margin: $zero;

        &.file-ok {
          min-height: 250px;
          background-size: contain;
          background-position: $center $center;
          background-repeat: no-repeat;
        }
      }

      p {
        @include position(absolute, $bottom: 0, $left: 0);
        width: $fullwidth;
        background: $ofblue;
        padding: 5px;
        color: $white;
        font-weight: 600;
        @include flex;
        justify-content: $center;
        cursor: pointer;
        @include transition(all 0.5s ease-in-out 0s);
        z-index: 3;
        margin: $zero;
      }

      &:hover {
        p {
          background: $green;
        }
      }
    }

    strong {
      display: $block;
      margin-top: $minmargin;
    }
  }

  .pager {
    @include flex;
    justify-content: space-between;
    margin-top: $minmargin;

    @media (max-width:767px) {
      display: $block;
    }

    p {
      font-size: 16px;

      @media (max-width:767px) {
        width: $fullwidth;
        text-align: $center;
      }

    }

    .pagination {

      padding: $zero !important;

      @media (max-width:767px) {
        display: $block;
        width: $fullwidth;
        text-align: $center;
        margin-top: $minmargin;
      }

      li {
        display: $inline;
        margin: $zero $zero $zero 10px;

        @media (max-width:767px) {
          margin: $zero 2px;
        }

        a,
        span {
          display: $block;
          padding-top: 10px;
          text-align: $center;
          color: $blak;
          @include border-radius(5px !important);
          width: 35px;
          height: 35px;
          display: $block;
          border: $zero;
          background: $white;
          @include prefixer (box-shadow, 0px 0px 4px #d4d4d4, webkit moz o ms);
          @include transition(all 0.5s ease-in-out 0s);

          i {
            font-size: 12px;
          }
        }
      }

      .page-link.active,
      .page-link:hover {
        background: $ofblue !important;
        color: $white !important;
      }
    }

  }


  ///* End Pagination

  .tags-box {
    padding: 10px;
    border: 1px solid $border;
    @include border-radius(4px);

    li {
      display: $inline;
      @include border-radius(4px);
      margin: 2px;
      background: $bc-gary;
      color: $white;
      padding: $zero 13px;
    }
  }

  .customchick {
    @include check-box;
    margin-top: 10px;
  }


  .form {
    @include form;

    .show-num {
      @include flex;
      justify-content: space-between;
      width: 140px;

      .field {
        margin: $zero;
        width: 50px !important;
        max-width: 50px !important;

        .form-control {
          height: 40px;
          font-weight: 600;
        }

        i {
          top: 10px;
          right: 7px;
        }
      }
    }
  }

  .spinner {
    @include spinner;
  }

  .up-ex {
    @include flex;

    @media (max-width:767px) {
      display: $block;
      width: $fullwidth;
    }


    .custom-file {
      width: $auto;

      @media (max-width:767px) {
        width: $fullwidth;
      }

      .custom-file-input {
        cursor: pointer;
      }

      .custom-file-label {
        width: $fullwidth;
        border: $zero;
        height: 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 105px;
        line-height: 2;
        margin: $zero;
        background-image: $none !important;


        &::after {
          right: $auto;
          left: $zero;
          content: "Choose file";
          border: $zero;
          color: $blak;
          height: 36px;
          padding: 7px $minmargin;
          font-weight: 600;
          @include border-radius(60px);
        }
      }
    }

    .bottom {
      margin-left: $minmargin;
      background: $none;
      border: 1px solid $blue;
      color: $blue;

      &:hover {
        color: $white;
        border: 1px solid $ofblue;
      }

      @media (max-width:767px) {
        margin: $minmargin 10px $zero $zero;

        &:last-child {
          margin-right: $zero;
        }
      }
    }
  }


  .wizard {
    @include flex;
    justify-content: space-between;

    @media (max-width:991px) {
      display: $inline;
    }

    .link-wizard {
      background: #f0f4f5;
      @include border-radius(5px);
      margin-top: $minmargin;
      @include prefixer (box-shadow, 0px 0px 4px #d4d4d4, webkit moz o ms);

      li {
        display: $inline;
        padding: 5px $minmargin;
        font-weight: 600;
        color: $blak;
        font-size: 16px;


        &:first-child {
          background: $white;
          @include border-radius(5px 0px 0px 5px);
        }

        a {
          font-weight: 600;
          font-size: 16px;
          @include transition(all 0.5s ease-in-out 0s);
          position: relative;

          &::before {
            @include arrow;
          }

          &:hover {
            color: $ofblue;
          }
        }

        .toolink {
          display: $inline;
          width: 25px;
          height: 25px;
          @include border-radius(50%);
          background: $yellow;
          margin-left: 10px;
          color: $white;
          cursor: pointer;
          text-align: $center;
          line-height: 27px;
        }
      }
    }

    .bottom {
      @include bottom;
      margin-top: $minmargin;

      i {
        font-size: 13px;
        margin-right: 5px;
      }
    }

    .support_dropdown-head {
      @include dropdown;
      margin: $zero !important;

      .support_dropdown-content {
        width: 250px;

        @media (max-width:991px) {
          right: $auto;
          left: $zero;
        }
      }

      &:hover {
        .support_dropdown-content {
          top: 55px;
        }
      }
    }
  }

  .alert—ch {
    margin: $zero;
    margin-top: $minmargin;
    font-size: 18px;
    font-weight: 600;
    background: #f8ffff;
    color: $blue;

    a {
      font-size: 18px;
      font-weight: 600;
      color: $ofblue;
      position: relative;
      @include transition(all 0.5s ease-in-out 0s);

      &:first-child {
        margin-right: $minmargin;

        &::before {
          content: "";
          @include position(absolute, $top: 8px, $right: -6px);
          width: 2px;
          height: 20px;
          background: $ofblue;
        }
      }

      &:hover {
        color: $blue;
      }
    }
  }

  .tutorials {
    padding: $maxmargin;
    padding-top: $zero;

    @media (max-width:650px) {
      padding: $minmargin;
      padding-top: $zero;
    }

    .item-tut {
      margin-top: $maxmargin;

      @media (max-width:991px) {
        max-width: 50%;
        flex: 50%;
      }

      @media (max-width:650px) {
        max-width: $fullwidth;
        flex: $fullwidth;
        margin-top: $minmargin;
      }


      .title {
        font-size: 21px;
        padding-bottom: 10px;
        height: 35px;
        overflow: hidden;
        margin-bottom: $minmargin;
        text-align: $center;
        border-bottom: 2px solid $blak;

        @media (max-width:650px) {
          height: $auto;
        }
      }

      iframe {
        display: $block;
        height: 300px !important;
        width: $fullwidth;
        height: 300px !important;
        border: $zero;
      }
    }
  }
}

.alert {
  strong {
    color: #721c24;
  }

  &:last-of-type {
    margin-bottom: $zero;
  }
}

.login {
  position: relative;
  height: 100vh;
  padding: $minmargin;
  @include flex;
  justify-content: $center;

  @media (max-width:991px) {
    display: $block;
    padding: $zero $minmargin;
  }

  .login-form {
    margin: $zero $auto;
    width: 450px;
    background: $blue;
    @include prefixer (box-shadow, 0 0px 25px rgba(4, 6, 8, 0.28), webkit moz o ms);
    position: relative;
    @include border-radius(10px);
    padding: $maxmargin;


    @media (max-width:991px) {
      margin: $maxmargin $auto;
      padding: $maxmargin $minmargin;
    }

    @media (max-width:500px) {
      width: $fullwidth;
    }

    .logo-login {
      text-align: $center;

      img {
        max-width: 180px;

        @media (max-width:450px) {
          max-width: 140px;
        }
      }
    }

    .form {
      @include form;

      .field {
        @include check-box;

        @media (max-width:991px) {
          max-width: $fullwidth;
          flex: $fullwidth;

          &:nth-child(3) {
            max-width: 40%;
            flex: 40%;
          }

          &:nth-child(4) {
            max-width: 60%;
            flex: 60%;
          }
        }

        .label-text {
          font-weight: normal;
          color: $white !important;

        }

        .che-box {
          input[type="checkbox"]+.label-text:before {
            color: $white;
          }
        }

        .form-control {
          padding-left: $maxmargin+10px;
          border: $zero;
        }

        i {
          @include position(absolute, $top: 15px, $left: 30px);
          font-size: 20px;
          width: 18px;
          color: $blue;
        }

        .bottom {
          @include bottom;
          height: 50px;
          background: $ofblue;

          &:before {
            background: rgba(255, 255, 255, 0.12);
          }
        }
      }


      .forget {
        display: $block;
        width: $fullwidth;
        text-align: $right;
        font-size: 16px;
        color: $white;
        @include transition(all 0.5s ease-in-out 0s);

        &:hover {
          color: $ofblue;
        }
      }
    }

    .title {
      @include title;
      font-weight: bold;
      font-size: 23px;
      margin-top: $minmargin;
      line-height: 35px;
      width: $fullwidth;
      text-align: $center;
      color: $white;
    }
  }
}

.error {
  @extend .login;

  @media (max-width:991px) {
    @include flex;
  }

  .des-error {
    text-align: $center;

    i {
      font-size: 80px;
      color: $red;
    }

    .title {
      @include title;
      font-size: 25px !important;
      margin: $minmargin $zero;
    }

    .bottom {
      @include bottom;
    }
  }
}

// .wizard .tooltip-inner {
//   background: rgba(0, 0, 0, 0.90) !important;
//   color: $white;
// }

// .wizard .bs-tooltip-auto[x-placement^=top] .arrow::before,
// .wizard .bs-tooltip-top .arrow::before {
//   border-top-color: rgba(0, 0, 0, 0.90) !important;
// }



/* Start PopUp */

.icon-right {
  @include position(fixed, $top: 40%, $right:0px);
  z-index: 100;

  a {
    width: 45px;
    height: 45px;
    background: $blue;
    color: $white;
    margin-bottom: 5px;
    @include flex;
    justify-content: $center;
    @include border-radius(4px 0px 0px 4px);
    @include transition(all 0.5s ease-in-out 0s);

    &:before {
      -webkit-animation: rotation 3s infinite linear;

      @-webkit-keyframes rotation {
        from {
          -webkit-transform: rotate(0deg);
        }

        to {
          -webkit-transform: rotate(359deg);
        }
      }
    }

    &:last-child {
      margin: $zero;
    }

    &:hover {
      background: $green;
    }
  }
}


.modal {
  background: rgba(0, 0, 0, 0.82);
  padding: $minmargin !important;

  .modal-dialog.popurl {
    max-width: 1000px;

    iframe {
      width: $fullwidth;
      border: 0px;
      height: 723px;
    }

    .modal-body {
      padding: $zero;
      background: $ofwhite;

      &.padd {
        padding: $minmargin;
        padding-top: $zero;
      }
    }
  }

  .modal-dialog.witcard {
    max-width: 650px;

    .modal-body {
      padding: $minmargin;
    }
  }

  .modal-header {
    img {
      max-width: 100px;
    }

    .title {
      @include title;
      margin: $zero;
      font-size: 23px;
    }
  }

  .modal-dialog {
    margin: $zero $auto;
    max-width: 530px;
  }

  .close.de-close {
    margin: $zero;
    padding: $zero;
    color: $red;
    opacity: 1;
  }

  .in-seg {
    margin: $zero;
    margin-bottom: $minmargin;

    &:last-child {
      margin: $zero;
    }

    .head {
      margin: $zero;

      .title {
        font-size: 20px;
      }
    }
  }

  .bottom {
    @include bottom;
  }

  .form {
    @include form;
  }

  .warning {
    text-align: $center;
    padding: 60px;

    i {
      color: $red;
      font-size: 80px;
      margin-bottom: $minmargin;
    }

    p {
      margin-top: 10px;
    }
  }

  .dis-center {
    justify-content: $center;

    .bottom {

      &.green {
        background: $green;
      }

      &.red {
        background: $red;
      }
    }
  }

  .modal-footer {
    .imgpord {
      width: 50%;
      text-align: $center;

      img {
        max-width: 185px;

        @media (max-width:667px) {
          max-width: 85px;
        }
      }

      p {
        color: $blak;
      }
    }
  }
}


/* End PopUp */

.themeslider {
  @include styleslider;
}

.itme-theme {
  float: $left;
  position: relative;
  overflow: hidden;
  margin: $zero $minmargin;
  text-align: $center;


  .theme-img {
    width: $fullwidth;
    height: 250px;
    background: $ofwhite;
    @include flex;
    justify-content: $center;
    cursor: pointer;
    border: 3px solid transparent;
    @include border-radius(5px);
    @include transition(all 0.5s ease-in-out 0s);

    &:before {
      content: "\f00c";
      @include position(absolute, $top: 0, $left: 0);
      width: 35px;
      height: 35px;
      background: $ofblue;
      padding-top: 4px;
      @include border-radius(5px 0px 5px 0px);
      @include transition(all 0.5s ease-in-out 0s);
      font-weight: 600;
      font-family: "Font Awesome 5 Free";
      color: $white;
      opacity: 0;
    }

    &.active {
      border: 3px solid $ofblue;

      &::before {
        opacity: 1;
      }
    }

    img {
      max-width: $fullwidth;
      max-height: $fullwidth;
    }
  }


  .title {
    @include title;
    height: 28px;
    overflow: hidden;
    margin: $minmargin $zero !important;
  }

}


.vertical {
  @include divider;
}

.box-footer {
  margin-top: $minmargin;
  padding: $minmargin;
  text-align: $center;
  background: $ofwhite;

  .description-text,
  .text-yellow {
    font-weight: 600;
    font-size: 17px;
  }

  .text-yellow {
    color: $ofblue;
  }
}


.multi-select {
  position: relative;

  .form-control {
    height: 50px;
    text-transform: $none;
    border: 1px solid $border;
  }

  .multi-select__result {
    @include border-radius(.25rem);
    margin-top: $minmargin;

    .multi-select__option {
      background: $ofwhite;
      padding: 5px $minmargin;
      margin-bottom: 5px;

      &:last-child {
        margin: $zero;
      }

      .custom-check-icon {
        width: $auto;
        height: $auto;
        margin: $zero;
        @include flex;
        cursor: pointer;
        position: relative;

        .custom-check-icon-text {
          color: $blak;
          margin-left: 5px;
        }

        .multi-select__image {
          width: 16px;
          height: 11px;
          margin: -2px 2px $zero 5px;
        }

        .custom-check-icon__input[type=checkbox] {
          @include position(absolute, $top: 0, $left: 0, $right:0px, $bottom:0px);
          cursor: pointer;
          opacity: 0;
          z-index: -1
        }

        .custom-check-icon__circle {
          display: $block;
          position: relative;

          &:after {
            content: "\f0c8";
            font-family: "Font Awesome 5 Free";
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            font-size: 15px;
            display: $inline;
            font-style: initial;
            color: $gray;
          }
        }

        .custom-check-icon__input[type=checkbox]:checked+.custom-check-icon__circle:after {
          content: "\f14a";
          font-family: Font Awesome\ 5 Free;
          font-weight: 900;
          color: $ofblue;
          animation: effect 250ms ease-in;

          @keyframes effect {
            0% {
              transform: scale(0);
            }

            25% {
              transform: scale(1.3);
            }

            75% {
              transform: scale(1.4);
            }

            100% {
              transform: scale(1);
            }
          }
        }

      }

      .multi-select__option-icon {
        @include rotate(-90deg);
        font-size: 13px;
        @include transition(all 0.5s ease-in-out 0s);

        &.active {
          @include rotate(0deg);
        }
      }

      .multi-select__option-header {
        @include flex;
        justify-content: space-between;
        color: $bc-gary;
        cursor: pointer
      }

      .multi-select__option-list {
        display: $none;
        padding: 10px $minmargin 5px $minmargin;

        .multi-select__option-item {
          border-bottom: 1px solid $border;
          padding-bottom: 5px;
          margin-bottom: 5px;

          &:last-child {
            padding: $zero;
            margin: $zero;
            border: $zero;
          }
        }
      }
    }
  }

}