$direction: ltr;
$right: right;
$left: left;
$center: center;
$overflow: hidden;
$lineheight: 28px;
$fontsize: 14px;
$fontlurg: 30px;
$fontbold: bold;
$none: none;
$inline: inline-block;
$block: block;
$fixed: fixed;
$zero: 0px;
$white: #fff;
$yellow: #ff9500;
$orange:#cc7f13;
$blue: #2c3e50;
$ofblue: #279bc0;
$red: #A90C00;
$green: #7cc331;
$teal: #1db78d;
$spectral:#8c18f7;
$gray: #131c21;
$colortext: #4a4a4a;
$border:#efefef;
$bc-gary:#929292;
$blak: #000;
$ofwhite: #f0f4f5;
$minmargin: 15px;
$maxmargin: 30px;
$fullwidth: 100%;
$auto: auto;
$facebook: #3b5998;
$twitter: #00acee;
$instagram: #8d5b46;
$youtube: #c4302b;
$rss: #ee802f;
$linkedin: #007fb1;
$gplus: #dd4b39;
$whatsapp: #189d0e;